@import "./bootstrap/variables";

@import "./utils/map-collect";
@import "./utils/create-shades";
@import "./utils/named-grays";

$facebook:      #3a5e95 !default;
$twitter:       #60addb !default;
$lastfm:        #e01132 !default;
$pinterest:     #bd0520 !default;
$linkedin:      #057cb2 !default;
$medium:        #5cb85c !default;
$skype:         #0ab2ef !default;
$foursquare:    #f84978 !default;
$android:       #a6c843 !default;
$spotify:       #2fd665 !default;
$paypal:        #2a9ad7 !default;
$dribbble:      #f16898 !default;
$youtube:       #ed1922 !default;
$windows:       #10bff2 !default;
$amazon:        #fea320 !default;

$shades: () !default;
$shades: map-collect(
    create-shades('black', $black),
    create-shades('white', $white),
    create-shades('primary', $primary),
    create-shades('info', $info),
    create-shades('success', $success),
    create-shades('warning', $warning),
    create-shades('danger', $danger),
    create-shades('yellow', $yellow),
    create-shades('purple', $purple)
);

$social-colors: () !default;
$social-colors: (
    "facebook":     $facebook,
    "twitter":      $twitter,
    "lastfm":       $lastfm,
    "pinterest":    $pinterest,
    "linkedin":     $linkedin,
    "medium":       $medium,
    "skype":        $skype,
    "foursquare":   $foursquare,
    "android":      $android,
    "spotify":      $spotify,
    "paypal":       $paypal,
    "dribble":      $dribbble,
    "youtube":      $youtube,
    "windows":      $windows,
    "amazon":       $amazon
);

$bs-colors: $colors;

$colors: map-collect(
    $bs-colors,
    $social-colors,
    $shades
);

$helper-colors: map-collect(
    $bs-colors
    $theme-colors,
    $social-colors,
    (
        'white': $white,
        'black': $black,
        'body-bg': $body-bg,
        'inverse': $black
    ),
    named-grays($grays)
);

$extended-buttons-colors: map-collect(
    $social-colors,
    named-grays($grays)
);

$extended-badge-colors: map-collect(
    $bs-colors,
    (
        'black': $black,
        'gray-dark': $gray-800,
        'gray': $gray-700,
        'gray-light': $gray-500,
        'gray-lighter': $gray-400,
        'gray-lightest': $gray-300,
        'white': $white,
    )
);

// Utility Extensions
$border-radius-helpers-sizes: (
    0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px,
    30: 30px
);

$border-helpers-sizes: (
    0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px
);

$border-helpers-styles: (
    'solid': solid,
    'dashed': dashed,
    'dotted': dotted
);

$font-helpers-weight: 100, 200, 300, 400, 500, 600 , 700, 800, 900 !default;
$font-helpers-sizes: 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 !default;