@import "./variables";

@each $name, $color in $dashboard-colors {
    .custom-card--color-#{$name} {
        --card-color: #{$color};
    }
}

.custom-card-header {
    &--background {
        color: map-get($dashboard-colors, "white");

        background-color: var(--card-color);
    }

    &--border {
        border-bottom: 2px solid var(--card-color);
        background: none;
    }
}

.custom-card {
    &--border-dash,
    &--border-dot,
    &--border {
        border-color: var(--card-color);
    }

    &--side-border {
        &--left {
            border-left-width: 2px;
            border-left-color: var(--card-color);
        }
        &--right {
            border-right-width: 2px;
            border-right-color: var(--card-color);
        }
        &--top {
            border-top-width: 2px;
            border-top-color: var(--card-color);
        }
        &--bottom {
            border-bottom-width: 2px;
            border-bottom-color: var(--card-color);
        }
    }

    &--background {
        color: map-get($dashboard-colors, 'white');

        background-color: var(--card-color);
    }

    &--border-dash {
        border-style: dashed;
        border-width: 2px;
        border-color: $gray-400;
    }

    &--border-dot {
        border-style: dotted;
        border-width: 2px;
        border-color: $gray-400;
    }

    &--shadow-sm {
        box-shadow: $box-shadow-sm;
    }

    &--shadow {
        box-shadow: $box-shadow;
    }

    &--shadow-lg {
        box-shadow: $box-shadow-lg;
    }

    &--none {
        border: none;
        background: none;
    }
}